.clock-box {
  color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-normal);
  width: 250px;
  height: 130px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
  transition: transform 0.2s ease-in-out;
}

.clock-box:hover {
  transform: scale(1.1);
}

.clock-box__time {
  font-weight: var(--font-bold);
  font-size: var(--font-large);
  color: var(--navy);
  margin-bottom: 10px;
}

.clock-box__date {
  font-size: var(--font-normal);
}
