.greeting {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: var(--font-large);
  font-weight: var(--font-bold);
  border-radius: var(--border-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navy);
  box-shadow: 2px 2px 13px #989cac62;
}
