.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.link-box img {
  width: 20px;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--navy));
}
.link-box span {
  margin-left: 10px;
  font-size: 18px;
}
