.login-screen {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  height: 250px;

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.login-form__title {
  font-weight: var(--font-semi-bold);
  font-size: var(--font-large);
}
.login-form__text {
  margin-bottom: 30px;
  border: 0;
  padding: 10px;
  text-align: center;
  font-size: var(--font-small);
  background: 0;
  opacity: 0.7;
  border-bottom: 1px solid rgba(145, 145, 145, 0.9);

  transition: transform 0.3s ease-in-out;
}

.login-form__text:focus {
  transform: scale(1.3);
  outline: 0;
}

.login-form__btn {
  font-size: var(--font-small);
  border: 0;
  padding: 8px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  background-color: rgb(129, 129, 129);
  color: rgba(255, 255, 255, 0.897);
}

.login-form__btn:hover {
  background-color: var(--khaki);
}
