.main-box {
  width: 1200px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.589);
  border: 1px solid #d7dae2;
  border-radius: var(--border-normal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  width: 350px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.content-center {
  width: 500px;
  height: 550px;
  /* border: 1px solid black; */
}
.content-right {
  width: 350px;
  height: 600px;
  /* border: 1px solid black; */
  border-radius: var(--border-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
}
