.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  transition: background-color 0.5s ease-in-out;
}

.darkmode {
  background-color: #121516de;
}

.main-box {
  width: 900px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.589);
  border: 1px solid #d7dae2;
  border-radius: var(--border-normal);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  width: 300px;
  height: 450px;
  /* border: 1px solid black; */
  border-radius: var(--border-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);

  margin-right: 25px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.267);
  transition: transform 0.2s ease-in-out;
}

.content-center {
  width: 300px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: var(--border-normal);
  background-color: rgba(205, 215, 238, 0.11);
  box-shadow: var(--shadow-normal);
  transition: transform 0.2s ease-in-out;
}
.content-left:hover,
.content-center:hover {
  transform: var(--scale-normal);
}

.content-right {
  width: 300px;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
