:root {
  --font-large: 34px;
  --font-medium: 26px;
  --font-normal: 18px;
  --font-small: 14px;

  --font-bold: 700;
  --font-semi-bold: 600;
  --font-regular: 400;

  --khaki: #4b8569;
  --blue: #b9cfe9;
  --grey: #d7dae2;
  --navy: #556f94;
}
